button:focus {
  outline-style: none
}

.body {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  overflow: scroll;
  background-color: black;
}

.siteHeader {
  position: fixed;
  width: 100%;
  order: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color:rgba(0,0,0,0.5);
}

.name {
  padding: 1% 1% 1% 1%;
  text-align: center;
  color: white;
  font-size: 40px;
  
}

.menu {
  order: 2;
  padding: 1% 1% 1% 1%;
  color: white;
  display: flex;
  flex-direction: row;
}

#target1 {
  height: 45px;
  width: 85px;
  text-align: center;
  margin: 10px;
}

#target2 {
  height: 45px;
  width: 85px;
  text-align: center;
  margin: 10px;
}

#target3 {
  height: 45px;
  width: 85px;
  text-align: center;
  margin: 10px;
}

#target4 {
  height: 45px;
  width: 85px;
  text-align: center;
  margin: 10px;
}

.coverlinkti {
  padding-top: 40vh;
  text-align: center;
  font-size: 70px;
  width: 100vw;
  height: 100vh;
  color: black;
  background:#FAFAFA;
}

.projects {
  order: 2;
  width: 100vw;
  height: 100vh;
  align-items: center;
  padding: 2vw;
  display: flex;
  justify-content: space-around;
  color: black;
  text-align: center;
  background-color: #E0E0E0;
  background:url('https://wallpapercave.com/wp/wp4010381.png') no-repeat center center fixed;


}




.project3 {
  padding: 10vw;
  border-color: white;
  text-align: center;
  background-image: url("https://cdn.sstatic.net/Sites/stackoverflow/img/apple-touch-icon@2.png?v=73d79a89bded");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}

.project1 {
  padding: 10vw;

  text-align: center;
  background-image: url("http://icons.iconarchive.com/icons/danleech/simple/1024/behance-icon.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: white;
  border-style: solid;

}

.project2 {
  padding: 10vw;
  border-color: black;
  text-align: center;
  background-image: url("http://icons.iconarchive.com/icons/danleech/simple/1024/github-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}


.about {
  order: 3;
  align-items: center;
  display: flex;
  padding-left: 2vw;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  text-align: left;
  font-size: 25px;
  color: white  ;
  background-color: black;
 
  background:url('https://mfiles.alphacoders.com/743/743720.jpg') no-repeat   fixed;  
  background-size: contain;
}


@media only screen and (min-width: 600px) {
  .about {
    order: 3;
    align-items: center;
    display: flex;
    padding-left: 2vw;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    text-align: left;
    font-size: 25px;
    color: white  ;
    background-color: black;

    background:url('https://wallpapershome.com/images/pages/pic_h/20311.jpg') no-repeat   fixed;
    background-size: contain;

  }
  }


.contact {
  order: 4;
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: #212121;
}


#contact-area {
	width: 60vw;
	color: white;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 60vw;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
  color:black;
}

#contact-area textarea {
	height: 30vh;
  color:black;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
    color:black;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
	background-color: #D9534F;
	margin-top: 10px;
  padding: 10px;
  color: white;
  border-style: none;
  border-radius: 5%;
}
